<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gentallela Alela! | </title>
    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!-- Custom Theme Style -->
    <script src="js/md5.min.js"></script>
    <link href="production/css/custom.css" rel="stylesheet">
    <style type="text/css" media="screen">
          h1{
            word-wrap: break-word;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;
            -ms-hyphens: auto;
            -o-hyphens: auto;
            hyphens: auto;
          }
    </style>
  </head>
  <body class="nav-md" style="background-color: rgb(247, 247, 247);" ng-app="loginApp" ng-controller="loginCtrl">
    <div class="container body">
      <div class="jumbotron vertical-center " style="background-color: rgb(247, 247, 247);">
        
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 "></div>
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
      <div class="x_panel">
        <div class="x_title">
          <h2>เข้าสู่ระบบ</h2>
          <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
            </li>
            <li><a href="#">Settings 2</a>
          </li>
        </ul>
      </li>
      <li><a class="close-link"><i class="fa fa-close"></i></a>
    </li>
  </ul>
  <div class="clearfix"></div>
</div>
<div class="x_content">
  <br><br>
  <form class="form-horizontal form-label-left">
    <div class="item form-group">
      <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required"></span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
      <input type="email" id="email" name="email" ng-model="emailuser" required="required" class="form-control col-md-7 col-xs-12">
    </div>
  </div>
  <div class="item form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password <span class="required"></span>
  </label>
  <div class="col-md-6 col-sm-6 col-xs-12">
    <input type="Password" id="passwod" name="passwod" ng-model="emailpass" required="required" class="form-control col-md-7 col-xs-12">
  </div>
</div>
<br>
<div class="form-group">
  <div class="col-md-6 col-md-offset-3">
    <button id="send" type="button" ng-click="loginButton()" class="btn btn-success">เข้าสู่ระบบ</button>
    <button type="button"  class="btn btn-info" data-toggle="modal" data-target="#registform">สมัครสมาชิก</button>
    <!-- Modal -->
    <div id="registform" class="modal fade" role="dialog">
      <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">KaigameShop</h4>
          </div>
          <div class="modal-body">
                    <!-- <form class="form-horizontal form-label-left"> -->
                     <br>
                     <form action="login_submit" accept-charset="utf-8">
                      <span class="section">สมัครสมาชิก</span>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" ng-model="rname" name="name" placeholder="ชื่อ" maxlength="20" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">lastname <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="name" class="form-control col-md-7 col-xs-12" ng-model="rsurname" name="surname"   maxlength="20" placeholder="นามสกุล" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="email" id="email3"  ng-model="remail" name="email" required="required"  maxlength="100" placeholder="Email" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address">ที่อยู่ <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="address" class="form-control col-md-7 col-xs-12" ng-model="raddress" name="address"  maxlength="50" placeholder="ชื่อ" required="required" type="text">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label for="password" class="control-label col-md-3">Password(6-12 character)</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="password" type="password" ng-model="rpassword" placeholder="รหัสผ่าน"  maxlength="10" name="password"  class="form-control col-md-7 col-xs-12"  required="required">
                        </div>
                      </div>
                      <div class="item form-group"> 
                        <label for="password2" class="control-label col-md-3 col-sm-3 col-xs-12">Repeat Password</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="password2" type="password" name="password2"    placeholder="รหัสผ่าน" data-validate-linked="password" class="form-control col-md-7 col-xs-12" required="required">
                        </div>
                      </div>
                      <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"   for="telephone">Telephone <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="tel" id="telephone" name="phone" ng-model="rtel" placeholder="Tel." required="required"   maxlength="10" data-validate-length-range="min 4" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      
                      <div class="ln_solid"></div>
                      <div id="registAlert" class="alert alert-danger" role="alert" style="display: none;">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <span id="registMsg"></span>
                      </div>
                      <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                          <button type="button" ng-click="registButton()" class="btn btn-success">Submit</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                      </div>
                    </form>
          </div>
          <div class="modal-footer">
            <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> -->
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<br>
<div class="separator" style="text-align: center;">
  <div class="clearfix"></div>
  <div>
    
    <h1><i style=" display: inline-block; border-radius: 200%; border: 2px solid #000000; padding: 5px 6px;" class="fa fa-globe"> </i> KaigameShop</h1>
    <p>©2015 All Rights Reserved. KaigameShop</p>
  </div>
</div>
</form>
</div>
</div>
</div>
</div>
<!-- jQuery -->
<script src="vendors/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="vendors/nprogress/nprogress.js"></script>
<!-- validator -->
<script src="vendors/validator/validator.min.js"></script>
<!-- Custom Theme Scripts -->
<script src="production/js/custom.js"></script>
<!-- validator -->
<script>
// initialize the validator function
validator.message.date = 'not a real date';
// validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
$('form')
.on('blur', 'input[required], input.optional, select.required', validator.checkField)
.on('change', 'select.required', validator.checkField)
.on('keypress', 'input[required][pattern]', validator.keypress);
$('.multi.required').on('keyup blur', 'input', function() {
validator.checkField.apply($(this).siblings().last()[0]);
});
$('form').submit(function(e) {
e.preventDefault();
var submit = true;
// evaluate the form using generic validaing
if (!validator.checkAll($(this))) {
submit = false;
}
if (submit)
this.submit();
return false;
});
</script>


<script>
  var app = angular.module('loginApp', []);
  app.controller('loginCtrl' , function($scope, $http){
    $scope.loginButton = function(){
      if($scope.emailuser == undefined || $scope.emailpass==undefined){
        return;
      }
      var data = $.param({
                user: $scope.emailuser,
                pass: md5($scope.emailpass)
      });
      var config = {
        headers : {
          'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
        }
      }
      $http.post('php/checklogin.php',data , config)
        .then(
            function(response){
              console.log(response.data);
              if(response.data == "success"){
                window.location = "index.php";
              }
              else if(response.data == "fail"){
                alert('login fail');
              }
            },
            function(response){
              console.log('fail to connect');
            }
          )

    }
    function validateEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    }
    $scope.registButton = function(){
              if($scope.rname == undefined || $scope.rsurname == undefined || $scope.remail == undefined || $scope.rpassword== undefined || $scope.rtel == undefined || isNaN($scope.rtel) || !validateEmail($scope.remail)){
                $('#registMsg').text("invalid");
                $('#registAlert').fadeIn(250);
                return ;
              }
              var data = $.param({
                        name: $scope.rname,
                        surname: $scope.rsurname,
                        email: $scope.remail,
                        username: $scope.remail,
                        password: md5($scope.rpassword),
                        tel: $scope.rtel,
                        address: $scope.raddress
              });
              var config = {
                headers : {
                  'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                }
              }
              $http.post('php/register.php',data , config)
                .then(
                    function(response){
                      console.log(response.data);
                      if(response.data == "success"){
                        $('#registform').modal('toggle');
                      }
                      else{
                          $('#registMsg').text("email address is not valid");
                          $('#registAlert').fadeIn(250);
                      }
                    },
                    function(response){
                      console.log('fail to connect');
                    }
                  )
    }

  });


</script>
<!-- /validator -->
</body>
</html>