<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="vendors/jquery/dist/jquery.min.js"></script>
<body ng-app="myApp" ng-controller="myCtrl">

<div>
<h1>Angular</h1>
<img ng-click="c" ng-src="{{myVar}}">
{{myVar}}
</div>
<button type="button" class="btn btn-primary" ng-click="func()">click</button>
	


<script>
var app = angular.module('myApp' ,[]);
app.controller('myCtrl' , function($scope) {
   $scope.sendPost = function(){
		var form = $('<form action="index.php" method="post" style="display: none;">' +
		  '<input type="text" name="api_url" value="1" />' +
		  '</form>');
		$('body').append(form);
		form.submit();
	}
});
</script>
</body>
</html>



upload image
